/STM.UI/bin
/STM.UI/obj
/STM.Resources/bin/Debug
/STM.Resources/obj/Debug
/STM.Tests/bin/Debug
/STM.Tests/obj/Debug
/packages
/STM.v12.suo
/STM.DomainLayer/bin/Debug
/STM.DomainLayer/obj/Debug
